body, header, nav, footer, article, aside, section, p {
  /* border shorthand'as: border: 1px solid #000; arba border: 1px solid; - kadangi juoda ir taip numatytoji reikšmė */
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding: 3px 10px;
    margin: 10px auto;


}
html {
    background-color: white;
}
body {
    width: 40%;
    /* gero css stiliaus rašymo taisyklė: hex kodą siūloma rašyti mažosiomis #a9a9a9 (bet rašymas didžiosiomis - ne klaida!)*/
    background-color: #A9A9A9;
    box-shadow: 0px 7px 12px 5px #606060;
}
body header, section {
    background-color: #D6D6D6;
}
body footer {
    background-color: #C0C0C0;
}
nav, section header, article, section footer {
    background-color: #EBEBEB;
    padding: 3px 10px;
}
article p, article header, aside, article footer {
    background-color: white;
    padding: 3px 10px;
}

.row {
  display: flex;
}


.left {
    margin-right: 10px;
    flex: 25%;
}

.right {
    flex: 75%;
}

section nav {
    padding: 200px 0;
}
p.left, aside {
    padding: 35px 0;
}

footer{
    padding: 15px;
}
/* su stiliais susitvarkyta šauniai. Ypač su flex'u ;) */
