body, header, nav, footer, article, aside, section, p {
    border-style: solid; 
    border-width: 1px; 
    text-align: center;
    padding: 3px 10px;
    margin: 10px auto;
    
}
html {
    background-color: white;
}
body {
    width: 40%;
    background-color: #A9A9A9;
    box-shadow: 0px 7px 12px 5px #606060;
}
body header, section {
    background-color: #D6D6D6;
}
body footer {
    background-color: #C0C0C0;
}
nav, section header, article, section footer {
    background-color: #EBEBEB;
    padding: 3px 10px;
}
article p, article header, aside, article footer {
    background-color: white;
    padding: 3px 10px;
}

.row {
  display: flex;
}


.left {
    margin-right: 10px;
    flex: 25%;
}

.right {
    flex: 75%;
}

section nav {
    padding: 200px 0;
}
p.left, aside {
    padding: 35px 0;
}

footer{
    padding: 15px;
}